venv/
__pycache__/
*.pyc
/model/
/model2/
/wandb/
/plots/
/plots_old/
/test/
/training_metrics/
/.ipynb_checkpoints/
/.jupyter_runtime/
/jupyter_server.pid
benchmark_inference.py
didactic_alphazero_trace.py
plot_run_metrics.py
/quoridor_alphazero_runs/*
/round_robin_arena.py
!/quoridor_alphazero_runs/run_20260602_185704_3500games/
!/quoridor_alphazero_runs/run_20260602_185704_3500games/**
!/quoridor_alphazero_runs/run_20260606_112507_2.5c_puct/
!/quoridor_alphazero_runs/run_20260606_112507_2.5c_puct/**
!/quoridor_alphazero_runs/run_20260608_172643_3.5_puct/
!/quoridor_alphazero_runs/run_20260608_172643_3.5_puct/**
!/quoridor_alphazero_runs/run_20260605_181100_balanced/
!/quoridor_alphazero_runs/run_20260605_181100_balanced/**